<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DBStr" value="Data Source=.;User ID=sa;Password=newauto;Initial Catalog=N_EQ;Persist Security Info=True" />
    <add key="LocalAddressIp" value="" />
    <add key="SummaryTemplateAddress" value="E:\SignalR\WebMVCSignalr\WebMVCSignalr\Reports\" />
    <add key="SingleTemplateName" value="TT_C76A,TT_C75A" />
    <add key="TeamTemplateName" value="TT_C76B,TT_C75B" />
    <add key="ImageSaveAddress" value="E:\SignalR\WebMVCSignalr\WebMVCSignalr\ReportsImage\" />
    <add key="MDSAddress" value="127.0.0.1" />
    <add key="UDPServerPort" value="7777" />
    <add key="SCBCommand" value="Welcome,JudgeList,StartList,ResultList,MedalList,Live" />
    <add key="LangStr" value="CHN" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>